p {
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.flexbox {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.header {
  padding: 10px 0;

  text-align: center;
  outline: 1px solid black;
}

.nav {
  text-align: center;
  outline: 1px solid black;
}

.wrapper {
  display: flex;
  gap: 20px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 2;

  height: 150px;
  outline: 1px solid black;
}

.square,
.grid-square {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 90px;
  height: 90px;

  background-color: aqua;
  outline: 1px solid black;

  animation: rotateSquare 5s linear infinite;
}

.sidebar {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 20%;
  outline: 1px solid black;
}

.footer {
  text-align: center;
  outline: 1px solid black;
}

@keyframes rotateSquare {
  0% {
    transform: rotate(0deg);
    background-color: red;
  }
  33% {
    transform: rotate(120deg);
    background-color: orange;
  }
  66% {
    transform: rotate(240deg);
    background-color: green;
  }
  100% {
    transform: rotate(360deg);
    background-color: red;
  }
}

.grid {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 20%; /* Змінено шаблон стовпців */
  grid-template-rows: auto auto 1fr auto auto;
  row-gap: 10px;
  column-gap: 20px;
  width: 400px;
}

.grid-header {
  padding: 10px 0;
  grid-column: 1 / span 2;
  text-align: center;
  outline: 1px solid black;
}

.grid-nav {
  grid-column: 1 / span 2;
  text-align: center;
  outline: 1px solid black;
}

.grid-content {
  grid-column: 1;
  grid-row: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-grow: 2; */
  height: 150px;
  outline: 1px solid black;
}

.grid-sidebar {
  grid-column: 2;
  grid-row: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Змінено ширину на 100% */
  outline: 1px solid black;
}

.grid-footer {
  grid-column: 1 / span 2;
  text-align: center;
  outline: 1px solid black;
}
